@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {position: absolute; /*body를 기준으로 정렬*/ z-index: 100; left: 0; top: 0; height: 100px; width: 100%; color: #fff;}
header .wrapper {display: flex; justify-content: space-between;}
header .logo {margin: 35px 0 0 0;}
header .logo a {width: 199px; height: 33px; font-size: 0; line-height: 0; display: block; position: relative;}
header .logo a::before {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/logo_w\ 1.png) no-repeat center center / contain; content: "";}
header .gnb .gnb_open {display: none;} /*모바일에서만 보임*/
header .gnb .gnb_wrap ul {display: flex;}
header .gnb .gnb_wrap ul li a {font-size: 20px; font-family: 'Eulyoo1945'; padding: 38px 25px 34px 25px; display: block;}
header .tnb {display: flex; align-items: center;}
header .tnb .mypage {width: 34px; height: 34px; font-size: 0; line-height: 0; position: relative;}
header .tnb .mypage::before {position: absolute; content: ""; left: -14px; top: 0; width: 100%; height: 100%; background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_252' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_252)'%3E%3Cpath d='M8.53242 24.4974C9.73659 23.6039 11.0484 22.8983 12.4679 22.3805C13.8872 21.8629 15.3978 21.6042 16.9998 21.6042C18.6019 21.6042 20.1125 21.8629 21.5318 22.3805C22.9513 22.8983 24.2631 23.6039 25.4673 24.4974C26.3479 23.5293 27.0458 22.4087 27.5607 21.1356C28.0757 19.8625 28.3332 18.484 28.3332 17C28.3332 13.8597 27.2294 11.1858 25.0217 8.97813C22.8141 6.77049 20.1401 5.66667 16.9998 5.66667C13.8596 5.66667 11.1856 6.77049 8.97796 8.97813C6.77032 11.1858 5.6665 13.8597 5.6665 17C5.6665 18.484 5.92398 19.8625 6.43894 21.1356C6.9539 22.4087 7.65173 23.5293 8.53242 24.4974ZM17.0002 18.0625C15.7068 18.0625 14.6161 17.6186 13.728 16.7308C12.8398 15.8428 12.3957 14.7521 12.3957 13.4587C12.3957 12.1653 12.8396 11.0746 13.7273 10.1865C14.6154 9.29829 15.7061 8.85417 16.9995 8.85417C18.2929 8.85417 19.3836 9.29806 20.2716 10.1858C21.1599 11.0738 21.604 12.1646 21.604 13.458C21.604 14.7514 21.1601 15.8421 20.2723 16.7301C19.3843 17.6184 18.2936 18.0625 17.0002 18.0625ZM16.9998 30.4583C15.131 30.4583 13.3779 30.1069 11.7405 29.404C10.103 28.7011 8.67869 27.7439 7.46744 26.5324C6.25596 25.3211 5.29876 23.8968 4.59586 22.2594C3.89296 20.6219 3.5415 18.8688 3.5415 17C3.5415 15.1312 3.89296 13.3781 4.59586 11.7406C5.29876 10.1032 6.25596 8.67885 7.46744 7.4676C8.67869 6.25612 10.103 5.29893 11.7405 4.59602C13.3779 3.89312 15.131 3.54167 16.9998 3.54167C18.8687 3.54167 20.6218 3.89312 22.2592 4.59602C23.8966 5.29893 25.321 6.25612 26.5322 7.4676C27.7437 8.67885 28.7009 10.1032 29.4038 11.7406C30.1067 13.3781 30.4582 15.1312 30.4582 17C30.4582 18.8688 30.1067 20.6219 29.4038 22.2594C28.7009 23.8968 27.7437 25.3211 26.5322 26.5324C25.321 27.7439 23.8966 28.7011 22.2592 29.404C20.6218 30.1069 18.8687 30.4583 16.9998 30.4583ZM16.9998 28.3333C18.2784 28.3333 19.5111 28.1277 20.698 27.7164C21.885 27.3048 22.9389 26.7295 23.8597 25.9905C22.9389 25.2784 21.8987 24.7235 20.7391 24.3259C19.5794 23.9281 18.3329 23.7292 16.9998 23.7292C15.6668 23.7292 14.4181 23.9257 13.2538 24.3189C12.0896 24.7122 11.0516 25.2694 10.14 25.9905C11.0608 26.7295 12.1147 27.3048 13.3016 27.7164C14.4886 28.1277 15.7213 28.3333 16.9998 28.3333ZM16.9998 15.9375C17.7046 15.9375 18.294 15.7004 18.7678 15.2263C19.2419 14.7525 19.479 14.1631 19.479 13.4583C19.479 12.7535 19.2419 12.1642 18.7678 11.6903C18.294 11.2162 17.7046 10.9792 16.9998 10.9792C16.295 10.9792 15.7057 11.2162 15.2318 11.6903C14.7577 12.1642 14.5207 12.7535 14.5207 13.4583C14.5207 14.1631 14.7577 14.7525 15.2318 15.2263C15.7057 15.7004 16.295 15.9375 16.9998 15.9375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}
header .tnb .search {width: 34px; height: 34px; font-size: 0; line-height: 0; position: relative;}
header .tnb .search::before {position: absolute; content: ""; left: 0; top: 0; width: 100%; height: 100%; background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg width='35' height='34' viewBox='0 0 35 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_255' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='34'%3E%3Crect x='0.5' width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_255)'%3E%3Cpath d='M28.1848 29.1508L19.2871 20.2527C18.5787 20.8375 17.7641 21.2952 16.8433 21.6258C15.9225 21.9564 14.9699 22.1216 13.9855 22.1216C11.5642 22.1216 9.51501 21.2833 7.83791 19.6067C6.16081 17.9301 5.32227 15.8813 5.32227 13.4605C5.32227 11.0399 6.16058 8.99043 7.8372 7.31215C9.51383 5.63411 11.5626 4.79509 13.9834 4.79509C16.404 4.79509 18.4535 5.63363 20.1317 7.31073C21.8098 8.98783 22.6488 11.037 22.6488 13.4584C22.6488 14.4701 22.479 15.4364 22.1395 16.3572C21.7998 17.278 21.3465 18.0789 20.7799 18.7599L29.6776 27.6576L28.1848 29.1508ZM13.9855 19.997C15.8109 19.997 17.357 19.3635 18.6237 18.0965C19.8907 16.8298 20.5242 15.2837 20.5242 13.4584C20.5242 11.633 19.8907 10.0869 18.6237 8.82019C17.357 7.55322 15.8109 6.91973 13.9855 6.91973C12.1602 6.91973 10.6141 7.55322 9.34737 8.82019C8.0804 10.0869 7.44691 11.633 7.44691 13.4584C7.44691 15.2837 8.0804 16.8298 9.34737 18.0965C10.6141 19.3635 12.1602 19.997 13.9855 19.997Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}
/*header가 상단에 고정되었을 때 - 스크롤 되었을 때*/
header.fixed {position: fixed; /*꼭 body태그로만 위치 조정됨-스크롤해도 위치 고정*/ background-color: #fff; color: #2d2d2d; }
header.fixed .logo a::before {background-image: url(../images/logo.png);}
header.fixed .tnb .mypage::before {background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_777' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_777)'%3E%3Cpath d='M8.53242 24.4972C9.73659 23.6037 11.0484 22.8981 12.4679 22.3803C13.8872 21.8628 15.3978 21.604 16.9998 21.604C18.6019 21.604 20.1125 21.8628 21.5318 22.3803C22.9513 22.8981 24.2631 23.6037 25.4673 24.4972C26.3479 23.5291 27.0458 22.4086 27.5607 21.1354C28.0757 19.8623 28.3332 18.4838 28.3332 16.9998C28.3332 13.8596 27.2294 11.1856 25.0217 8.97796C22.8141 6.77032 20.1401 5.6665 16.9998 5.6665C13.8596 5.6665 11.1856 6.77032 8.97796 8.97796C6.77032 11.1856 5.6665 13.8596 5.6665 16.9998C5.6665 18.4838 5.92398 19.8623 6.43894 21.1354C6.9539 22.4086 7.65173 23.5291 8.53242 24.4972ZM17.0002 18.0623C15.7068 18.0623 14.6161 17.6184 13.728 16.7307C12.8398 15.8427 12.3957 14.7519 12.3957 13.4585C12.3957 12.1651 12.8396 11.0744 13.7273 10.1864C14.6154 9.29813 15.7061 8.854 16.9995 8.854C18.2929 8.854 19.3836 9.29789 20.2716 10.1857C21.1599 11.0737 21.604 12.1644 21.604 13.4578C21.604 14.7512 21.1601 15.8419 20.2723 16.73C19.3843 17.6182 18.2936 18.0623 17.0002 18.0623ZM16.9998 30.4582C15.131 30.4582 13.3779 30.1067 11.7405 29.4038C10.103 28.7009 8.67869 27.7437 7.46744 26.5322C6.25596 25.321 5.29876 23.8966 4.59586 22.2592C3.89296 20.6218 3.5415 18.8687 3.5415 16.9998C3.5415 15.131 3.89296 13.3779 4.59586 11.7405C5.29876 10.103 6.25596 8.67869 7.46744 7.46744C8.67869 6.25595 10.103 5.29876 11.7405 4.59586C13.3779 3.89296 15.131 3.5415 16.9998 3.5415C18.8687 3.5415 20.6218 3.89296 22.2592 4.59586C23.8966 5.29876 25.321 6.25595 26.5322 7.46744C27.7437 8.67869 28.7009 10.103 29.4038 11.7405C30.1067 13.3779 30.4582 15.131 30.4582 16.9998C30.4582 18.8687 30.1067 20.6218 29.4038 22.2592C28.7009 23.8966 27.7437 25.321 26.5322 26.5322C25.321 27.7437 23.8966 28.7009 22.2592 29.4038C20.6218 30.1067 18.8687 30.4582 16.9998 30.4582ZM16.9998 28.3332C18.2784 28.3332 19.5111 28.1275 20.698 27.7162C21.885 27.3047 22.9389 26.7294 23.8597 25.9904C22.9389 25.2782 21.8987 24.7234 20.7391 24.3258C19.5794 23.9279 18.3329 23.729 16.9998 23.729C15.6668 23.729 14.4181 23.9256 13.2538 24.3187C12.0896 24.7121 11.0516 25.2693 10.14 25.9904C11.0608 26.7294 12.1147 27.3047 13.3016 27.7162C14.4886 28.1275 15.7213 28.3332 16.9998 28.3332ZM16.9998 15.9373C17.7046 15.9373 18.294 15.7003 18.7678 15.2262C19.2419 14.7523 19.479 14.163 19.479 13.4582C19.479 12.7534 19.2419 12.164 18.7678 11.6902C18.294 11.2161 17.7046 10.979 16.9998 10.979C16.295 10.979 15.7057 11.2161 15.2318 11.6902C14.7577 12.164 14.5207 12.7534 14.5207 13.4582C14.5207 14.163 14.7577 14.7523 15.2318 15.2262C15.7057 15.7003 16.295 15.9373 16.9998 15.9373Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/svg%3E%0A");}
header.fixed .tnb .search::before {background-image: url("data:image/svg+xml,%3Csvg width='35' height='34' viewBox='0 0 35 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_780' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='34'%3E%3Crect x='0.5' width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_780)'%3E%3Cpath d='M28.1848 29.1506L19.2871 20.2525C18.5787 20.8374 17.7641 21.2951 16.8433 21.6256C15.9225 21.9562 14.9699 22.1215 13.9855 22.1215C11.5642 22.1215 9.51501 21.2832 7.83791 19.6065C6.16081 17.9299 5.32227 15.8812 5.32227 13.4603C5.32227 11.0397 6.16058 8.99026 7.8372 7.31199C9.51383 5.63394 11.5626 4.79492 13.9834 4.79492C16.404 4.79492 18.4535 5.63347 20.1317 7.31057C21.8098 8.98766 22.6488 11.0369 22.6488 13.4582C22.6488 14.4699 22.479 15.4362 22.1395 16.357C21.7998 17.2779 21.3465 18.0788 20.7799 18.7597L29.6776 27.6574L28.1848 29.1506ZM13.9855 19.9968C15.8109 19.9968 17.357 19.3633 18.6237 18.0964C19.8907 16.8296 20.5242 15.2836 20.5242 13.4582C20.5242 11.6328 19.8907 10.0868 18.6237 8.82002C17.357 7.55305 15.8109 6.91957 13.9855 6.91957C12.1602 6.91957 10.6141 7.55305 9.34737 8.82002C8.0804 10.0868 7.44691 11.6328 7.44691 13.4582C7.44691 15.2836 8.0804 16.8296 9.34737 18.0964C10.6141 19.3633 12.1602 19.9968 13.9855 19.9968Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/svg%3E%0A");}
@media screen and (max-width:640px){
        header {height: 50px;}
        header .logo {margin: 14px 0 0 0;}
        header .logo a {width: 134px; height: 23px;}
        header .gnb .gnb_open {font-size: 0; line-height: 0; display: block; position: absolute;/*header를 기준으로 정렬*/ right: 0; top: 0; width: 60px; height: 50px;} 
        header .gnb .gnb_open::before {position: absolute; content: ""; right: 10px; top: 6px; width: 36px; height: 38px; background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_48_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect x='0.481445' y='0.349609' width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_48_7)'%3E%3Cpath d='M3.98145 17.9843V16.4846H20.9814V17.9843H3.98145ZM3.98145 13.0998V11.5998H20.9814V13.0998H3.98145ZM3.98145 8.21508V6.71533H20.9814V8.21508H3.98145Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}
        header .gnb .gnb_wrap {display: none;} /*메뉴 숨김*/
        header .tnb {margin: 0 60px 0 0;}
        header .tnb .mypage {display: none;}
        header .tnb .search::before {position: absolute; content: ""; left: 17px; top: 7px; width: 100%; height: 100%; background-size: contain; background-position: center center; background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg width='35' height='34' viewBox='0 0 35 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_9_255' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='34'%3E%3Crect x='0.5' width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_255)'%3E%3Cpath d='M28.1848 29.1508L19.2871 20.2527C18.5787 20.8375 17.7641 21.2952 16.8433 21.6258C15.9225 21.9564 14.9699 22.1216 13.9855 22.1216C11.5642 22.1216 9.51501 21.2833 7.83791 19.6067C6.16081 17.9301 5.32227 15.8813 5.32227 13.4605C5.32227 11.0399 6.16058 8.99043 7.8372 7.31215C9.51383 5.63411 11.5626 4.79509 13.9834 4.79509C16.404 4.79509 18.4535 5.63363 20.1317 7.31073C21.8098 8.98783 22.6488 11.037 22.6488 13.4584C22.6488 14.4701 22.479 15.4364 22.1395 16.3572C21.7998 17.278 21.3465 18.0789 20.7799 18.7599L29.6776 27.6576L28.1848 29.1508ZM13.9855 19.997C15.8109 19.997 17.357 19.3635 18.6237 18.0965C19.8907 16.8298 20.5242 15.2837 20.5242 13.4584C20.5242 11.633 19.8907 10.0869 18.6237 8.82019C17.357 7.55322 15.8109 6.91973 13.9855 6.91973C12.1602 6.91973 10.6141 7.55322 9.34737 8.82019C8.0804 10.0869 7.44691 11.633 7.44691 13.4584C7.44691 15.2837 8.0804 16.8298 9.34737 18.0965C10.6141 19.3635 12.1602 19.997 13.9855 19.997Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}
        /*header가 상단에 고정되었을 때 - 스크롤 되었을 때*/
        header.fixed {position: fixed; background-color: #fff; color: #2d2d2d; }
        header.fixed .logo a::before {background-image: url(../images/logo.png);}
        header.fixed .tnb .mypage::before {background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_777' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_777)'%3E%3Cpath d='M8.53242 24.4972C9.73659 23.6037 11.0484 22.8981 12.4679 22.3803C13.8872 21.8628 15.3978 21.604 16.9998 21.604C18.6019 21.604 20.1125 21.8628 21.5318 22.3803C22.9513 22.8981 24.2631 23.6037 25.4673 24.4972C26.3479 23.5291 27.0458 22.4086 27.5607 21.1354C28.0757 19.8623 28.3332 18.4838 28.3332 16.9998C28.3332 13.8596 27.2294 11.1856 25.0217 8.97796C22.8141 6.77032 20.1401 5.6665 16.9998 5.6665C13.8596 5.6665 11.1856 6.77032 8.97796 8.97796C6.77032 11.1856 5.6665 13.8596 5.6665 16.9998C5.6665 18.4838 5.92398 19.8623 6.43894 21.1354C6.9539 22.4086 7.65173 23.5291 8.53242 24.4972ZM17.0002 18.0623C15.7068 18.0623 14.6161 17.6184 13.728 16.7307C12.8398 15.8427 12.3957 14.7519 12.3957 13.4585C12.3957 12.1651 12.8396 11.0744 13.7273 10.1864C14.6154 9.29813 15.7061 8.854 16.9995 8.854C18.2929 8.854 19.3836 9.29789 20.2716 10.1857C21.1599 11.0737 21.604 12.1644 21.604 13.4578C21.604 14.7512 21.1601 15.8419 20.2723 16.73C19.3843 17.6182 18.2936 18.0623 17.0002 18.0623ZM16.9998 30.4582C15.131 30.4582 13.3779 30.1067 11.7405 29.4038C10.103 28.7009 8.67869 27.7437 7.46744 26.5322C6.25596 25.321 5.29876 23.8966 4.59586 22.2592C3.89296 20.6218 3.5415 18.8687 3.5415 16.9998C3.5415 15.131 3.89296 13.3779 4.59586 11.7405C5.29876 10.103 6.25596 8.67869 7.46744 7.46744C8.67869 6.25595 10.103 5.29876 11.7405 4.59586C13.3779 3.89296 15.131 3.5415 16.9998 3.5415C18.8687 3.5415 20.6218 3.89296 22.2592 4.59586C23.8966 5.29876 25.321 6.25595 26.5322 7.46744C27.7437 8.67869 28.7009 10.103 29.4038 11.7405C30.1067 13.3779 30.4582 15.131 30.4582 16.9998C30.4582 18.8687 30.1067 20.6218 29.4038 22.2592C28.7009 23.8966 27.7437 25.321 26.5322 26.5322C25.321 27.7437 23.8966 28.7009 22.2592 29.4038C20.6218 30.1067 18.8687 30.4582 16.9998 30.4582ZM16.9998 28.3332C18.2784 28.3332 19.5111 28.1275 20.698 27.7162C21.885 27.3047 22.9389 26.7294 23.8597 25.9904C22.9389 25.2782 21.8987 24.7234 20.7391 24.3258C19.5794 23.9279 18.3329 23.729 16.9998 23.729C15.6668 23.729 14.4181 23.9256 13.2538 24.3187C12.0896 24.7121 11.0516 25.2693 10.14 25.9904C11.0608 26.7294 12.1147 27.3047 13.3016 27.7162C14.4886 28.1275 15.7213 28.3332 16.9998 28.3332ZM16.9998 15.9373C17.7046 15.9373 18.294 15.7003 18.7678 15.2262C19.2419 14.7523 19.479 14.163 19.479 13.4582C19.479 12.7534 19.2419 12.164 18.7678 11.6902C18.294 11.2161 17.7046 10.979 16.9998 10.979C16.295 10.979 15.7057 11.2161 15.2318 11.6902C14.7577 12.164 14.5207 12.7534 14.5207 13.4582C14.5207 14.163 14.7577 14.7523 15.2318 15.2262C15.7057 15.7003 16.295 15.9373 16.9998 15.9373Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/svg%3E%0A");}
        header.fixed .tnb .search::before {background-image: url("data:image/svg+xml,%3Csvg width='35' height='34' viewBox='0 0 35 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_780' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='35' height='34'%3E%3Crect x='0.5' width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_780)'%3E%3Cpath d='M28.1848 29.1506L19.2871 20.2525C18.5787 20.8374 17.7641 21.2951 16.8433 21.6256C15.9225 21.9562 14.9699 22.1215 13.9855 22.1215C11.5642 22.1215 9.51501 21.2832 7.83791 19.6065C6.16081 17.9299 5.32227 15.8812 5.32227 13.4603C5.32227 11.0397 6.16058 8.99026 7.8372 7.31199C9.51383 5.63394 11.5626 4.79492 13.9834 4.79492C16.404 4.79492 18.4535 5.63347 20.1317 7.31057C21.8098 8.98766 22.6488 11.0369 22.6488 13.4582C22.6488 14.4699 22.479 15.4362 22.1395 16.357C21.7998 17.2779 21.3465 18.0788 20.7799 18.7597L29.6776 27.6574L28.1848 29.1506ZM13.9855 19.9968C15.8109 19.9968 17.357 19.3633 18.6237 18.0964C19.8907 16.8296 20.5242 15.2836 20.5242 13.4582C20.5242 11.6328 19.8907 10.0868 18.6237 8.82002C17.357 7.55305 15.8109 6.91957 13.9855 6.91957C12.1602 6.91957 10.6141 7.55305 9.34737 8.82002C8.0804 10.0868 7.44691 11.6328 7.44691 13.4582C7.44691 15.2836 8.0804 16.8296 9.34737 18.0964C10.6141 19.3633 12.1602 19.9968 13.9855 19.9968Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/svg%3E%0A");}
        header.fixed .gnb .gnb_open::before {background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_48_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect x='0.481445' y='0.349609' width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_48_7)'%3E%3Cpath d='M3.98145 17.9843V16.4846H20.9814V17.9843H3.98145ZM3.98145 13.0998V11.5998H20.9814V13.0998H3.98145ZM3.98145 8.21508V6.71533H20.9814V8.21508H3.98145Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");}

    }

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: rgba(255,255,255,0.8);
}
.visual ul li.pop_bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li strong {
    font-family: 'Eulyoo1945';
    font-size: 100px;
    color: rgba(255,255,255,0.2);
    margin: 310px 0 0 0;
    display: block;
}
.visual ul li h2 {
    font-family: 'Eulyoo1945';
    font-size: 100px;
    color: #fff;
    line-height: 1.1;
    margin: -58px 0 0 100px;
}
.visual ul li p {
    margin: 19px 0 0 110px;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute; /* swiper를 기준으로 정렬 */
    top: 413px;
    z-index: 10; 
    /* position 속성이 들어간 요소끼리의 순서 - 숫자가 높으면 위 */
    width: 66px; /* 버튼의 크기 */
    height: 66px;
    font-size: 0;
    line-height: 0;
}
.visual .btn_prev {
    left: 1%;
}
.visual .btn_next {
    right: 1%;
}
.visual .btn_prev::before,
.visual .btn_next::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_199' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='66' height='66'%3E%3Crect width='66' height='66' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_199)'%3E%3Cpath d='M38.4998 48.5478L22.952 33L38.4998 17.4521L41.3977 20.35L28.7477 33L41.3977 45.65L38.4998 48.5478Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='66' height='66' viewBox='0 0 66 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_8_202' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='66' height='66'%3E%3Crect x='66' y='66' width='66' height='66' transform='rotate(-180 66 66)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_8_202)'%3E%3Cpath d='M27.5003 17.4522L43.0481 33L27.5003 48.5479L24.6025 45.65L37.2525 33L24.6025 20.35L27.5003 17.4522Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}
@media screen and (max-width:1400px){
            .visual .btn_prev,
            .visual .btn_next {
                display: none; /* 숨김 */
            }
}/* media */
@media screen and (max-width:640px){
            .visual ul li {
                height: 370px;
            }
            .visual ul li strong {
                font-size: 40px;
                margin: 131px 0 0 0;
            }
            .visual ul li h2 {
                font-size: 40px;
                margin: -24px 0 0 40px;
            }
            .visual ul li p {
                margin: 4px 0 0 50px;
            }
            .visual ul li p br {
                display: none;
            }
}/* meida */

.book {
    margin: 156px 0 0 0;
}
.book .wrapper {
   position: relative; /* more정렬의 기준 */
}
.book .tit {
    float: left; /* 부유요소  */
}
.book .tit h2 {
    font-family: 'Eulyoo1945';
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
    background-color: #75675C;
    display: inline;
}
.book .list {
    margin: 0 0 0 321px;
    width: 1260px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단 여백 삭제 */
    line-height: 0;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉채우기 */
    transition: 0.5s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);/* 가운데를 기준으로 확대 */
}
.book .list ul li a h3 {
    /* 1줄제한 -- block요소이어야함 */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Eulyoo1945';
    font-size: 30px;
    color: #2d2d2d;
    margin: 15px 0 0 0;
}
.book .list ul li a span {
    color: #75675C;
    margin: 0 0 15px 0;
    font-family: 'Eulyoo1945';


    /* 1줄제한 -- block요소이어야함 */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a p {
    /* 2줄제한 */
    display: block;
    line-height: 1.4;
    height: 2.8em; /* 행간 X 줄수 = 1.4X2 = 2.8 (단위는 em) */
    overflow: hidden;
}
.book .more {
    position: absolute; /* wrapper*/
    left: 0;
    top: 110px;
}
.book .more a {
    padding: 4px 53px 4px 15px;
    font-size: 15px;
    border: 1px solid #75675C;
    display: block;
    color: #75675C;
    position: relative; /* after 정렬의 기준 */
}
.book .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 5px;
    top: 3px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_277' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_277)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='%2375675C'/%3E%3C/g%3E%3C/svg%3E%0A");    content: "";
}
.book .more a:hover {
    border-color: #75675C;
    background-color: #75675C;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_812' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_812)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
            .book {
                margin: 68px 0 0 0;
            }
            .book .tit {
                float: none; /* float해제 */
            }
            .book .tit h2 {
                font-size: 30px;
                margin: 0 0 23px 0;
                background-color: transparent;
                color: #2d2d2d;
            }
            .book .tit h2 br {
                display: none; /* 줄바꿈 제거 */
            }
            .book .tit p {
                display: none; /* 숨김 */
            }
            .book .list {
                margin: 0;
                width: calc(100% + 20px);
                /* 오른쪽 wrapper 밖까지 list가 나오게 하기 위해서
                   list한테 100%에 오른쪽 여백 20px을 추가해줌 */
            }
            .book .list ul {margin-top: 20px;}
            .book .list ul li {
                width: 180px;
            }
            .book .list ul li a h3 {
                font-size: 17px;
                margin: 15px 0 9px 0;
            }
            .book .list ul li a span {
                display: none; /* 숨김 */
            }
            .book .more {
                left: auto;
                right: 0; 
                /* 만약 왼쪽 정렬이었다가 오른쪽 정렬로 변경하면 
                  왼쪽값을 취소하고 auto 오른쪽 값을 줘야함 */
                top: 0;
            }
            .book .more a {
                padding: 0;
                border: 0;
                width: 34px;
                height: 34px;
                font-size: 0; /* 글자없애기 */
                line-height: 0; 
            }
            .book .more a::after {
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_156' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_156)'%3E%3Cpath d='M16.503 17.4958V22.6667C16.503 22.8072 16.5507 22.925 16.6461 23.0201C16.7412 23.115 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.115 17.353 23.0201C17.4474 22.925 17.4947 22.8072 17.4947 22.6667V17.4958H22.6655C22.806 17.4958 22.9237 17.4481 23.0186 17.3528C23.1138 17.2576 23.1613 17.1395 23.1613 16.9986C23.1613 16.8579 23.1138 16.7403 23.0186 16.6458C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3333C17.4947 11.1929 17.447 11.0751 17.3516 10.9802C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9802C16.5502 11.0751 16.503 11.1929 16.503 11.3333V16.5042H11.3322C11.1917 16.5042 11.0739 16.5519 10.9787 16.6473C10.8838 16.7424 10.8363 16.8605 10.8363 17.0014C10.8363 17.1421 10.8838 17.2597 10.9787 17.3542C11.0739 17.4486 11.1917 17.4958 11.3322 17.4958H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0016 12.1977 28.3549C10.697 27.7082 9.39168 26.8305 8.28172 25.7217C7.17153 24.6129 6.29272 23.3092 5.64531 21.8106C4.99765 20.3118 4.67383 18.7103 4.67383 17.006C4.67383 15.302 4.99718 13.6996 5.64389 12.1989C6.2906 10.6982 7.16834 9.39286 8.27712 8.2829C9.3859 7.1727 10.6896 6.2939 12.1882 5.64648C13.687 4.99883 15.2886 4.675 16.9928 4.675C18.6968 4.675 20.2992 4.99836 21.7999 5.64507C23.3006 6.29177 24.606 7.16952 25.7159 8.27829C26.8261 9.38707 27.7049 10.6908 28.3523 12.1894C29 13.6882 29.3238 15.2897 29.3238 16.994C29.3238 18.698 29.0005 20.3004 28.3538 21.8011C27.7071 23.3018 26.8293 24.6071 25.7205 25.7171C24.6118 26.8273 23.3081 27.7061 21.8095 28.3535C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3333C20.1627 28.3333 22.8426 27.2354 25.0384 25.0396C27.2342 22.8438 28.3322 20.1639 28.3322 17C28.3322 13.8361 27.2342 11.1563 25.0384 8.96042C22.8426 6.76459 20.1627 5.66667 16.9988 5.66667C13.8349 5.66667 11.1551 6.76459 8.95924 8.96042C6.76341 11.1563 5.66549 13.8361 5.66549 17C5.66549 20.1639 6.76341 22.8438 8.95924 25.0396C11.1551 27.2354 13.8349 28.3333 16.9988 28.3333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            .book .more a:hover {
                border-color: transparent;
                background-color: transparent;
            }
            .book .more a:hover::after {
                background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_31_156' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='34' height='34'%3E%3Crect width='34' height='34' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_31_156)'%3E%3Cpath d='M16.503 17.4958V22.6667C16.503 22.8072 16.5507 22.925 16.6461 23.0201C16.7412 23.115 16.8593 23.1625 17.0002 23.1625C17.141 23.1625 17.2585 23.115 17.353 23.0201C17.4474 22.925 17.4947 22.8072 17.4947 22.6667V17.4958H22.6655C22.806 17.4958 22.9237 17.4481 23.0186 17.3528C23.1138 17.2576 23.1613 17.1395 23.1613 16.9986C23.1613 16.8579 23.1138 16.7403 23.0186 16.6458C22.9237 16.5514 22.806 16.5042 22.6655 16.5042H17.4947V11.3333C17.4947 11.1929 17.447 11.0751 17.3516 10.9802C17.2564 10.8851 17.1384 10.8375 16.9974 10.8375C16.8567 10.8375 16.7391 10.8851 16.6447 10.9802C16.5502 11.0751 16.503 11.1929 16.503 11.3333V16.5042H11.3322C11.1917 16.5042 11.0739 16.5519 10.9787 16.6473C10.8838 16.7424 10.8363 16.8605 10.8363 17.0014C10.8363 17.1421 10.8838 17.2597 10.9787 17.3542C11.0739 17.4486 11.1917 17.4958 11.3322 17.4958H16.503ZM17.0048 29.325C15.3008 29.325 13.6985 29.0016 12.1977 28.3549C10.697 27.7082 9.39168 26.8305 8.28172 25.7217C7.17153 24.6129 6.29272 23.3092 5.64531 21.8106C4.99765 20.3118 4.67383 18.7103 4.67383 17.006C4.67383 15.302 4.99718 13.6996 5.64389 12.1989C6.2906 10.6982 7.16834 9.39286 8.27712 8.2829C9.3859 7.1727 10.6896 6.2939 12.1882 5.64648C13.687 4.99883 15.2886 4.675 16.9928 4.675C18.6968 4.675 20.2992 4.99836 21.7999 5.64507C23.3006 6.29177 24.606 7.16952 25.7159 8.27829C26.8261 9.38707 27.7049 10.6908 28.3523 12.1894C29 13.6882 29.3238 15.2897 29.3238 16.994C29.3238 18.698 29.0005 20.3004 28.3538 21.8011C27.7071 23.3018 26.8293 24.6071 25.7205 25.7171C24.6118 26.8273 23.3081 27.7061 21.8095 28.3535C20.3106 29.0012 18.7091 29.325 17.0048 29.325ZM16.9988 28.3333C20.1627 28.3333 22.8426 27.2354 25.0384 25.0396C27.2342 22.8438 28.3322 20.1639 28.3322 17C28.3322 13.8361 27.2342 11.1563 25.0384 8.96042C22.8426 6.76459 20.1627 5.66667 16.9988 5.66667C13.8349 5.66667 11.1551 6.76459 8.95924 8.96042C6.76341 11.1563 5.66549 13.8361 5.66549 17C5.66549 20.1639 6.76341 22.8438 8.95924 25.0396C11.1551 27.2354 13.8349 28.3333 16.9988 28.3333Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/* media */

.interview {
    background-color: #F1F0EF;
    margin: 156px 0 0 0;
    padding: 105px 0 186px 0;
}
.interview .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.interview .tit {
    text-align: center;
    margin: 0 0 83px 0;
}
.interview .tit h2 {
    font-size: 40px;
    line-height: 1.2;
    color: #fff;
    background-color: #5B574E;
    display: inline;
    font-family: 'Eulyoo1945';
}
.interview .more {
    position: absolute;
    top: 125px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {
    padding: 4px 53px 4px 15px;
    font-size: 15px;
    border: 1px solid #5B574E;
    display: inline-block;
    color: #5B574E;
    background-color: #fff;
    position: relative; /* after 정렬의 기준 */
}
.interview .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 10px;
    top: 11px;
    width: 25px;
    height: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}
.interview .more a:hover {
    border-color: #5B574E;
    background-color: #5B574E;
    color: #fff;
}
.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='white'/%3E%3C/svg%3E%0A");
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /*li의 길이가 제일 긴것을 기준으로 같이 늘어나는 것을 막음*/
}
.interview .list ul li {
    width: 404px;
    position: relative;
}
/* 디자인상 무조건 두번째 요소에 적용되는 스타일 */
.interview .list ul li:nth-child(2) {
    margin-top: 67px;
}
.interview .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단 여백 삭제 */
    line-height: 0;
    border-radius: 70px 0 70px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 70px 0 70px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉채우기 */
    transition: 0.5s;
    filter: grayscale(100%);
}
.interview .list ul li a .txt {
    position: absolute;
    left: 0;
    bottom: 29px;
    padding: 0 36px;
    width: 100%; /*absolute는 넓이가 없음*/
    display: flex; /*h3, span 좌우 양쪽 끝에 배치*/
    justify-content: space-between;
}
.interview .list ul li a h3 {
    font-family: 'Eulyoo1945';
    font-size: 25px;
    line-height: 1.2;
    color: #fff;
}
.interview .list ul li a .txt p {
    display: none;
}
.interview .list ul li a .txt span {
    width: 70px;
    height: 70px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.interview .list ul li a .txt span::before {
    position: absolute;
    left: 25px;
    top: 0;
    width: 50%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='white'/%3E%3C/svg%3E%0A");
    content: "";
}
@media screen and (min-width:641px){ /*pc버전에서만 적용-641px 이상에서만 적용*/
    .interview .list ul li.on /*li에 on 클래스가 들어갔을 때*/ {

    }
    .interview .list ul li.on a {
        padding: 0 0 90px 0;
        display: block;
    }
    .interview .list ul li.on a .photo img {
        filter: grayscale(0); /*흑백처리 제거*/
    }
    .interview .list ul li.on a .txt {
        bottom: 0;
        background-color: #5B574E;
        color: rgba(255,255,255,0.8);
        padding: 32px 32px 25px 32px;
        width: 100%; /*absolute는 넓이가 없음*/
        display: block; /*h3, span 좌우 양쪽 끝에 배치*/
        width: calc(100% - 30px);
        border-radius: 50px 0 50px 0;
    }
    .interview .list ul li.on a .txt h3 br {
        display: none;
    }
    .interview .list ul li.on a .txt p {
        display: block;
        margin: 14px 0;
        /*글자 수 제한*/
        line-height: 1.4;
        height: 4.2em; /*행간 X 줄수 (단위em)*/
        overflow: hidden;
    }
    .interview .list ul li.on a .txt span {
        width: auto;
        height: auto;
        font-size: 16px;
        line-height: 1.4;
        position: relative;
    }
    .interview .list ul li.on a .txt span::before {
        left: 80px;
        top: -3px;
        width: 24px;
        height: 24px;
    }
    .interview .list ul li:nth-child(2).on a .txt {
        border-radius: 0 50px;
    }
}
@media screen and (max-width:640px){
        .interview {margin: 88px 0 0 0; padding: 64px 0 60px 0;}
        .interview .wrapper {position: relative;}
        .interview .tit {text-align: left; margin: 0 0 19px 0;}
        .interview .tit h2 {font-size: 30px; margin: 0; background-color: transparent; color: #2d2d2d;}
        .interview .tit p {display: none;}
        .interview .more { position: relative; top: auto; left: auto; width: 100%; display: inline-block; text-align: center;}
        .interview .more a {
            padding: 3px 30px 3px 5px;
            font-size: 12px;
            border: 1px solid #5B574E;
            display: inline-block;
            color: #5B574E;
            background-color: #fff;
            position: relative; /* after 정렬의 기준 */
        }
        .interview .more a::after {
            position: absolute; /* a를 기준으로 정렬 */
            right: 4px;
            top: 8px;
            width: 20px;
            height: 5px;
        }
        .interview .more a:hover {border-color: transparent; background-color: transparent;}
        .interview .list ul {display: block;}
        .interview .list ul li {width: auto; position: relative;}
        .interview .list ul li:nth-child(2), .interview .list ul li:nth-child(3) {display: none;}
        .interview .list ul li a .photo {border-radius: 30px 0;}
        .interview .list ul li a .photo img {height: 400px;}
        .interview .list ul li a .txt {position: relative; left: auto; bottom: auto; padding: 19px 0 0 0; width: 100%; display: block;}
        .interview .list ul li a h3 {font-size: 17px; color: #2d2d2d;}
        .interview .list ul li a h3 br {display: none;}
        .interview .list ul li a .txt p {display: block; line-height: 1.4; height: 4.2em; overflow: hidden; margin: 10px 0;}
        .interview .list ul li a .txt span {display: none;}
        .interview .list ul li a .txt span::before {position: absolute; left: 25px; top: 0; width: 50%; height: 100%; background-image: url("data:image/svg+xml,%3Csvg width='27' height='9' viewBox='0 0 27 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0625 1L25 8H-1.04308e-06' stroke='white'/%3E%3C/svg%3E%0A"); content: "";}
}

.story .tit h2 {font-size: 40px; line-height: 1.2; color: #fff; background-color:#75675C; display: inline-block; margin-bottom: 30px; font-family: 'Eulyoo1945';}
.story .list ul li {width: 297px;}
.story .list ul li a {display: block; border: 1px solid #cccccc;}
.story .list ul li a .photo {overflow: hidden; font-size: 0; line-height: 0; /*이미지 하단 여백 삭제*/}
.story .list ul li a .photo img {width: 100%; height: 100%; object-fit: cover;}
.story .list ul li a strong {color: #75675C; font-family: 'Eulyoo1945'; display: block; margin: 20px 0 0 29px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.story .list ul li a h3 {font-size: 25px; line-height: 1.2; height: 2.4em; overflow: hidden; color: #2d2d2d; font-family: 'Eulyoo1945'; margin: 0 27px 10px 27px;}
.story .list ul li a p {line-height: 1.4; height: 4.2em; overflow: hidden; margin: 0px 27px 20px 27px;}
.story .wrapper {position: relative; padding: 100px 0;}
.story .more {position: absolute; /* wrapper*/ right: 0; top: 118px;}
.story .more a {padding: 4px 53px 4px 15px; font-size: 15px; border: 1px solid #75675C; display: block; color: #75675C; position: relative; /* after 정렬의 기준 */}
.story .more a::after {position: absolute; /* a를 기준으로 정렬 */ right: 5px; top: 3px; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center center; background-size: contain; background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_277' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_277)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='%2375675C'/%3E%3C/g%3E%3C/svg%3E%0A"); content: "";}
.story .more a:hover { border-color: #75675C; background-color: #75675C; color: #fff;}
.story .more a:hover::after {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_812' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_812)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}





@media screen and (max-width:640px){
        .story .tit h2 {font-size: 40px; line-height: 1.2; color: #fff; background-color:#75675C; display: inline-block; margin-bottom: 30px; font-family: 'Eulyoo1945';}
        .story .list ul li {width: 180px;}
        .story .list ul li a {border: none;}
        .story .list ul li a .photo {height: 300px;}
        .story .list ul li a strong {margin: 0;}
        .story .list ul li a h3 {font-size: 17px; margin: 0;}
        .story .list ul li a p {display: none;}
        .story .wrapper {position: relative; padding: 100px 0;}
        .story .more {position: absolute; /* wrapper*/ right: 0; top: 118px;}
        .story .more a {padding: 4px 53px 4px 15px; font-size: 15px; border: 1px solid #75675C; display: block; color: #75675C; position: relative; /* after 정렬의 기준 */}
        .story .more a::after {position: absolute; /* a를 기준으로 정렬 */ right: 5px; top: 3px; width: 24px; height: 24px; background-repeat: no-repeat; background-position: center center; background-size: contain; background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_13_277' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_13_277)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='%2375675C'/%3E%3C/g%3E%3C/svg%3E%0A"); content: "";}
        .story .more a:hover { border-color: #75675C; background-color: #75675C; color: #fff;}
        .story .more a:hover::after {background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_812' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' y='24' width='24' height='24' transform='rotate(-180 24 24)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_812)'%3E%3Cpath d='M10.0001 6.34631L15.6538 12.0001L10.0001 17.6538L8.94631 16.6001L13.5463 12.0001L8.94631 7.40006L10.0001 6.34631Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");}



    
}

footer {
    margin: 200px 0 0 0;
}