@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.boost {
    margin: 100vh 2vw 0 2vw;
}
.boost .tit .item {
    font-size: 4.3vw;
    font-weight: 800;
    position: relative;
    white-space: nowrap; /* 무조건 한줄 */
}
.boost .tit .item .gray_txt {
    color: #CCCCCC;
}
.boost .tit .item .black_txt {
    color: #1d1d1d;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: 1s;
}
.boost.active .tit .item .black_txt {
    width: 100%;
}
.boost .photo {
    margin-top: 20px;
    overflow: hidden;
    height: 342px;
}
.boost .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.life {
    margin: 215px 0 0 0;
    text-align: center;
}
.life .tit strong {
    display: block;
    font-size: 25px;
    color: #666;
}
.life .tit h2 {
    font-size: 100px;
    font-weight: 800;
    color: #1d1d1d;
}
.life .photo_wrap {
    margin: 69px 0 0 0;
}
/* jquery로 넓이 제어 */
.life .photo_wrap .photo {
    overflow: hidden;
    border-radius: 20px;
    width: 500px;
    height: 466px;
    transition: 1s;
    display: inline-block;
    /* text-align:center로 정렬하게 하기 위해 */
}
.life.end .photo_wrap .photo {
    border-radius: 0;
}
.life .photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hanwha {
    margin: 500px 0 0 0;
}
.hanwha p {
    text-align: center;
    font-size: 70px;
    font-weight: 800;
    line-height: 1;
    overflow: hidden;
    margin: 30px 0;
    color: #1d1d1d;
    transition: 1s;
}
.hanwha p span {
    transform: translate(0, 100%);
    display: block;
    transition: 1s;
}
.hanwha.active p span {
    transform: translate(0, 0);
}

body {
    background-color: #fff;
    transition: 1s;
}
body.black_bg {
    background-color: #1d1d1d;
}

body.black_bg .hanwha p {
    color: #fff;
}

.nature {
    margin: 500px 0 0 0;
}
.nature .wrapper {
    position: relative;
}
.nature h2 {
    color: #fff;
    font-size: 100px;
    line-height: 1.1;
    font-weight: 800;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 1s;
    transform: translateY(0);
}
.nature .photo {
    margin-left: 370px;
    overflow: hidden;
    border-radius: 20px;
}
.nature .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paper {
    margin: 300px 0 0 0;
}
.paper .wrapper {
    display: flex;
    justify-content: space-between;
}
.paper h2 {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    color: #fff;
}