@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/* 플러그인을 사용할 때 이미 적용되어 있는 css를 변경하려면
    1. 동일한 이름 앞에 body태그 선택자를 추가하는 방법 strong -> body strong이 우선순위가 높음
    2. 속성값 뒤에 !important를 추가 --- 적용 우선순위가 1순위가 됨 --- 적용 해제가 어려움, 모바일에서도 적용됨 */
body #fp-nav.fp-left { 
    left: 2%;
}
body #fp-nav ul li {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
}
body #fp-nav ul li a {
    width: auto;
    height: auto;
}
body #fp-nav ul li .fp-tooltip {
    display: none;
}
body #fp-nav ul li a.active span,
body #fp-nav .fp-slidesNav ul li a.active span {
    height: auto;
    width: auto;
    margin: 0;
    border-radius: 0;
}
body #fp-nav ul li a span {
    position: relative;
    border: 0;
    background: transparent;
    left: auto;
    top: auto;
    margin: 0;
}
body #fp-nav .fp-sr-only {
    padding: 0;
    overflow: visible;
    clip: auto;
    white-space: nowrap;
    border: 0;
}

.section {text-align: center; font-size: 70px;}
.visual {background-color: var(--color-main-g)}
.tree {background-color: #fff} 
.forest {background-color: #E7E5D8;}
.story {background-color: var(--color-main-b)}
footer {background-color: var(--color-main-g); height: 300px;}