@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual_popup .popup .popup_item img {width: 100%;}
.visual_popup .popup .popup_item img.mo {display: none;}
@media screen and (max-width:1300px) {
    .visual_popup .popup .popup_item {height: 700px;}
}
@media screen and (max-width:1024px) {
    .visual_popup .popup .popup_item {height: 600px;}
}
@media screen and (max-width:768px) {
    .visual_popup .popup .popup_item img.mo {display: block;}
    .visual_popup .popup .popup_item img.pc {display: none;}
}
.visual_popup .popup .slick-dots {position: absolute;/*popup을 기준으로 정렬*/ bottom: 16px; left: 50%; transform: translate(-50%, 0)/*가운데*/; display: flex; gap: 5px;}
.visual_popup .popup .slick-dots li button {font-size: 0; line-height: 0; width: 24px; height: 9px; border-radius: 4px; background-color: rgba(255,255,255,0.7);}
.visual_popup .popup .slick-dots li.slick-active button {width: 38px; background-color: #fff;}