@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual_popup .popup .popup_item img {
    width: 100%;
}
.visual_popup .popup .popup_item img.mo {
    display: none;
}
.visual_popup .popup .slick-dots {
    position: absolute; /* popup을 기준으로 정렬 */
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    /* 좌우에 가운데 */
    display: flex;
    gap: 5px;
}
.visual_popup .popup .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 26px;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
}
.visual_popup .popup .slick-dots li.slick-active button {
    width: 48px;
    background-color: #fff;
}
@media screen and (max-width:768px){
    .visual_popup .popup .popup_item img.pc {
        display: none;
    }
    .visual_popup .popup .popup_item img.mo {
        display: block;
    }
}

.menu {padding: var(--padding-section);}
.menu .tit {text-align: center; margin: 0 0 60px 0;}
.menu .tit h2 {color: var(--txt-color-tit); font-family: 'prettynight'; font-size: var(--txt-size-tit); line-height: 0.85;}
.menu .list .popup .popup_item {margin: 0 12px; position: relative; text-align: center; padding-bottom: 25px;}
.menu .list .popup .popup_item .photo {overflow: hidden; margin: 0 15%;}
.menu .list .popup .popup_item .photo img {width: 100%; height: 100%; object-fit: contain;/*이미지를 자르지 않고 모두 보이도록*/}
.menu .list .popup .popup_item::before {position: absolute; left: -3px; top: 117px; width: 100%; height: calc(100% - 123px); border: 3px solid #3d3d3d; content: ""; z-index: -1;}
.menu .list .popup .popup_item h3 {font-size: 1.25rem; font-weight: 600; margin: 40px 0 15px; line-height: 1.3; height: 2.6em; position: relative;}
.menu .list .popup .popup_item h3::after {position: absolute; top: -30%; left: 50%; transform: translate(-50%, -50%); width: 20%; height: 1px; background-color: #1d1d1d; content: "";}
.menu .list .popup .popup_item strong {display: block; font-weight: 600; color: var(--txt-color-gray); line-height: 1.2; height: 2.4em;}
@media screen and (max-width:1300px){
    .menu .tit {margin: 0 0 50px 0;}    
}
@media screen and (max-width:1024px){
    .menu .tit {margin: 0 0 30px 0;}
    .menu .tit h2 {line-height: 1;}
}
@media screen and (max-width:768px){
    .menu .tit {margin: 0 0 15px 0;}
}

.brand .inner {background: url(../images/main/brand_bg.png) no-repeat center center / cover; height: 751px; color: #fff; padding: 521px 0 0 74px;}
.brand .inner h2 {color: var(--txt-color-tit); font-size: 3.13rem; font-family: 'prettynight'; margin-bottom: 30px;}
.brand .inner h2 span {background-color: #fff;}
/* loop 애니메이션을 줄 때 
    <div> --- 감싸는 요소
        <span></sapn> --- 움직일 요소
    </div>
  움직일 요소는 white-space: nowrap;으로 한줄로 / 넓이가 온전하게 인식 되어야함
  브라우저의 크기를 초과하는 넓이가 온전히 인식되어야함 --- 인식되지 않을 때   position: absolute;를 줘야함*/
.brand .loop {background-color: #000; color: #fff; font-size: 3.13rem; padding-top: 1.5rem; height: 6.2rem; position: relative;}
.brand .loop span {display: block;/*transform를 적용하기 위해*/ white-space: nowrap;/*줄바꿈금지*/ position: absolute; top: 1rem;
    animation-name: brand_loop; animation-duration: 10s;/*시간*/ animation-iteration-count: infinite;/*무한반복*/ animation-timing-function: linear;/*가속도해제*/}
@keyframes brand_loop {0%{transform: translate(0, 0);} 100%{transform:translate(-50.27%, 0)/*첫글자가 다시 맨 앞으로 도달한 값*/;}}
@media screen and (max-width:1300px) {
    .brand .inner {height: 700px; padding: 470px 0 0 50px;}
}
@media screen and (max-width:1024px) {
    .brand .inner {height: 600px; padding: 390px 40px 0 40px;}
    .brand .inner h2 {margin-bottom: 20px;}
    .brand .inner p br {display: none;}
    .brand .loop {font-size: 2.6rem; padding-top: 1.5rem; height: 5rem;}
    .brand .loop span {top: 0.72rem;}
}
@media screen and (max-width:768px) {
    .brand .inner {height: 550px; padding: 360px 40px 0 40px;}
    .brand .inner p span.mo_skip {display: none;}
}
@media screen and (max-width:640px) {
    .brand .inner {height: 500px; padding: 330px 40px 0 40px;}
    .brand .inner h2 {margin-bottom: 10px;}
}

.md {padding: var(--padding-section);}
.md .tit {text-align: center; margin: 0 0 60px 0;}
.md .tit h2 {color: var(--txt-color-tit); font-family: 'prettynight'; font-size: var(--txt-size-tit); line-height: 0.85;}
.md .list .popup .popup_item {margin: 0 15px; text-align: center;}
.md .list .popup .popup_item .photo {overflow: hidden;}
.md .list .popup .popup_item .photo img {width: 100%; height: 100%; object-fit: contain;/*이미지를 자르지 않고 모두 보이도록*/}
.md .list .popup .popup_item h3 {font-size: 1.25rem; font-weight: 600; margin-top: 30px; line-height: 1.3; height: 2.6em;}
@media screen and (max-width:1300px){
    .md .tit {margin: 0 0 50px 0;}    
}
@media screen and (max-width:1024px){
    .md .tit {margin: 0 0 30px 0;}
    .md .tit h2 {line-height: 1;}
}
@media screen and (max-width:768px){
    .md .tit {margin: 0 0 15px 0;}
}

.event {padding: var(--padding-section); background-color: #ededed;}
.event .tit {text-align: center; margin: 0 0 60px 0;}
.event .tit h2 {color: var(--txt-color-tit); font-family: 'prettynight'; font-size: var(--txt-size-tit); line-height: 0.85;}
.event .list .popup .popup_item {margin: 0 10px; text-align: center;}
.event .list .popup .popup_item h3 {font-size: 1.25rem; font-weight: 600; margin-top: 15px; line-height: 1.3; height: 2.6em;}
.event .list .popup .popup_item .photo {overflow: hidden; border-radius: 30px;}
.event .list .popup .popup_item .photo img {width: 100%; height: 100%; object-fit: contain;/*이미지를 자르지 않고 모두 보이도록*/}