@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    height: 900px;
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    padding-top: 220px;
    margin-top: 40px;
}
.visual h2 {
    font-size: 70px;
    font-family: var(--tit-fontfamily);
    text-align: center;
    line-height: var(--tit-lineheight);
    text-shadow: 0 0 4px #81CEEA;
}
@media screen and (max-width:1200px){
    .visual {height: 800px; background-image: url(../images/main/visual_bg1200.png); padding-top: 255px;}
    .visual h2 {font-size: 55px;}
}
.book {
    background: url(../images/main/book_bg.png) no-repeat center center / cover;
    padding: 210px 0 300px 0;
    width: auto;
}
.book h3 {
    color: var(--tit-txt-color);
    font-size: var(--tit-txt-size);
    font-family: var(--tit-fontfamily);
    text-align: center;
}
.book .tabs > ul {
    margin: 20px 0 84px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.book .tabs > ul > li {
    text-align: center;
    width: 120px;
}
.book .tabs > ul > li > a {
    width: 100%;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    border-radius: 28px;
    background-color: #E8E8E8;
}
.book .tabs > ul > li.active > a {
    background-color: var(--color-main-g);
}
.book .tabs .tab > ul {
    float: left;
}
.book .tabs .tab > ul > li {
    margin: 0 24px 10px 113px;
}
.book .tabs .tab > ul > li > a {
    display: block;
    font-size: 28px;
    font-family: var(--tit-fontfamily);
    color: #aaa;
    padding: 17px 122px 17px 25px;
}
.book .tabs .tab > ul > li.active > a {
    color: #fff;
    background-color: var(--color-main-y);
    border-radius: 40px;
    position: relative;
}
.book .tabs .tab > ul > li.active > a::after {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_9689' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_9689)'%3E%3Cpath d='M17.1 20.9V26.6C17.1 27.1383 17.2821 27.5896 17.6462 27.9538C18.0104 28.3179 18.4617 28.5 19 28.5C19.5383 28.5 19.9896 28.3179 20.3538 27.9538C20.7179 27.5896 20.9 27.1383 20.9 26.6V20.9H26.6C27.1383 20.9 27.5896 20.7179 27.9538 20.3538C28.3179 19.9896 28.5 19.5383 28.5 19C28.5 18.4617 28.3179 18.0104 27.9538 17.6462C27.5896 17.2821 27.1383 17.1 26.6 17.1H20.9V11.4C20.9 10.8617 20.7179 10.4104 20.3538 10.0462C19.9896 9.68208 19.5383 9.5 19 9.5C18.4617 9.5 18.0104 9.68208 17.6462 10.0462C17.2821 10.4104 17.1 10.8617 17.1 11.4V17.1H11.4C10.8617 17.1 10.4104 17.2821 10.0462 17.6462C9.68208 18.0104 9.5 18.4617 9.5 19C9.5 19.5383 9.68208 19.9896 10.0462 20.3538C10.4104 20.7179 10.8617 20.9 11.4 20.9H17.1ZM19 38C16.3717 38 13.9017 37.5012 11.59 36.5037C9.27833 35.5062 7.2675 34.1525 5.5575 32.4425C3.8475 30.7325 2.49375 28.7217 1.49625 26.41C0.49875 24.0983 0 21.6283 0 19C0 16.3717 0.49875 13.9017 1.49625 11.59C2.49375 9.27833 3.8475 7.2675 5.5575 5.5575C7.2675 3.8475 9.27833 2.49375 11.59 1.49625C13.9017 0.49875 16.3717 0 19 0C21.6283 0 24.0983 0.49875 26.41 1.49625C28.7217 2.49375 30.7325 3.8475 32.4425 5.5575C34.1525 7.2675 35.5062 9.27833 36.5037 11.59C37.5012 13.9017 38 16.3717 38 19C38 21.6283 37.5012 24.0983 36.5037 26.41C35.5062 28.7217 34.1525 30.7325 32.4425 32.4425C30.7325 34.1525 28.7217 35.5062 26.41 36.5037C24.0983 37.5012 21.6283 38 19 38Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.book .tabs .tab, .sub_tab {
    display: none;
}
.book .tabs .tab.active, .sub_tab.active {
    display: block;
} 
.book .tabs .tab .sub_tab {
    margin-left: 434px;
    width: 1260px;
}
.book .tabs .tab .sub_tab ul li {
    border: 1px solid #aaa;
    border-radius: 20px;
    overflow: hidden;
}
.book .tabs .tab .sub_tab ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.book .tabs .tab .sub_tab ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.book .tabs .tab .sub_tab ul li:hover a .photo img {
    transform: scale3d(1.2, 1.2, 1)
}
.book .tabs .tab .sub_tab ul li a .tit_wrap {
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #aaa;
}
.book .tabs .tab .sub_tab ul li a .tit h4 {
    color: var(--tit-txt-color);
    font-size: 25px;
    font-weight: var(--txt-bold);
    line-height: var(--tit-lineheight);
    height: 1.3em;
    overflow: hidden;
}
.book .tabs .tab .sub_tab ul li a .tit strong {
    color: #666;
    font-weight: var(--txt-bold);
}
.book .tabs .tab .sub_tab ul li a .tit span {
    color: var(--color-main-y);
    font-weight: var(--txt-bold);
}
.book .tabs .tab #sub_tab102 ul li a .tit h4,
.book .tabs .tab #sub_tab202 ul li a .tit h4 {
    font-size: 20px;
}
.book .tabs .tab #sub_tab201 ul li a .tit span {
    position: absolute;
    top: 8px;
    left: 12px;
    color: #fff;
    background-color: var(--color-main-y);
    display: block;
    padding: 3px 10px;
    border-radius: 15px;
}
.book .ctrl_bar .scroll {
    position: relative;
    width: 100%;
}
.book .ctrl_bar .scroll .swiper-scrollbar {
    left: 0%;
    bottom: -50px;
    width: 100%;
    height: 15px;
    border-radius: 8px;
    background: #ededed;
}
.book .ctrl_bar .scroll .swiper-scrollbar .swiper-scrollbar-drag {
    height: 7px;
    background: #007C70;
    border-radius: 10px;
    left: 0;
    top: 0;
    cursor: pointer; /*오버할 때 마우스 포인터가 손가락 모양으로 바뀜*/
}
@media screen and (max-width:1200px){
    .book {padding: 123px 0 204px 0;}
    .book .tabs > ul {margin: 13px 0 68px 0; gap: 17px;}
    .book .tabs > ul > li > a {font-size: 22px; line-height: 46px;}
    .book .tabs .tab > ul > li > a {font-size: 25px; padding: 15px 108px 15px 30px;}
    .book .tabs .tab > ul > li.active > a::after {top: 17px; width: 30px; height: 30px;}
    .book .tabs .tab .sub_tab {margin-left: 25%;}
    .book .tabs .tab .sub_tab ul li {width: 271px;}
    .book .tabs .tab .sub_tab ul li a .tit h4 {font-size: 22px;}
    .book .tabs .tab #sub_tab102 ul li a .tit h4,
    .book .tabs .tab #sub_tab202 ul li a .tit h4 {font-size: 18px;}
    .book .ctrl_bar .scroll {
        position: relative;
        width: 100%;
        margin-right: 2%;
    }
    .book .ctrl_bar .scroll .swiper-scrollbar {
        left: 0%;
        bottom: -50px;
        width: 100%;
        height: 15px;
        border-radius: 8px;
        background: #ededed;
    }
}

.talk {
    background-color: #ededed;
    padding: 170px 0 100px 0;
    position: relative;
}
.talk::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 40%;
    background: url(../images/main/talk_bg.svg) no-repeat center center / contain;
    content: "";
}
.talk .tit .tit_wrap a {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 12px);
}
.talk .tit h3 {
    color: var(--tit-txt-color);
    font-size: var(--tit-txt-size);
    font-family: var(--tit-fontfamily);
    line-height: 1;
    margin-left: 10px;
}
.talk .tit span {
    font-size: 0;
    line-height: 0;
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_868' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='52' height='52'%3E%3Crect width='52' height='52' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_868)'%3E%3Cpath d='M23.4 28.6V36.4C23.4 37.1367 23.6492 37.7542 24.1475 38.2525C24.6458 38.7508 25.2633 39 26 39C26.7367 39 27.3542 38.7508 27.8525 38.2525C28.3508 37.7542 28.6 37.1367 28.6 36.4V28.6H36.4C37.1367 28.6 37.7542 28.3508 38.2525 27.8525C38.7508 27.3542 39 26.7367 39 26C39 25.2633 38.7508 24.6458 38.2525 24.1475C37.7542 23.6492 37.1367 23.4 36.4 23.4H28.6V15.6C28.6 14.8633 28.3508 14.2458 27.8525 13.7475C27.3542 13.2492 26.7367 13 26 13C25.2633 13 24.6458 13.2492 24.1475 13.7475C23.6492 14.2458 23.4 14.8633 23.4 15.6V23.4H15.6C14.8633 23.4 14.2458 23.6492 13.7475 24.1475C13.2492 24.6458 13 25.2633 13 26C13 26.7367 13.2492 27.3542 13.7475 27.8525C14.2458 28.3508 14.8633 28.6 15.6 28.6H23.4ZM26 52C22.4033 52 19.0233 51.3175 15.86 49.9525C12.6967 48.5875 9.945 46.735 7.605 44.395C5.265 42.055 3.4125 39.3033 2.0475 36.14C0.6825 32.9767 0 29.5967 0 26C0 22.4033 0.6825 19.0233 2.0475 15.86C3.4125 12.6967 5.265 9.945 7.605 7.605C9.945 5.265 12.6967 3.4125 15.86 2.0475C19.0233 0.6825 22.4033 0 26 0C29.5967 0 32.9767 0.6825 36.14 2.0475C39.3033 3.4125 42.055 5.265 44.395 7.605C46.735 9.945 48.5875 12.6967 49.9525 15.86C51.3175 19.0233 52 22.4033 52 26C52 29.5967 51.3175 32.9767 49.9525 36.14C48.5875 39.3033 46.735 42.055 44.395 44.395C42.055 46.735 39.3033 48.5875 36.14 49.9525C32.9767 51.3175 29.5967 52 26 52Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.talk .list {
    display: flex;
    justify-content: space-between;
}
.talk .list .list01, .talk .list .list02 {
    width: calc(100% - 12px);
}
.talk .list .list01 ul {
    margin-top: 30px;
}
.talk .list .list01 ul li {
    margin-bottom: 24px;
}
.talk .list .list01 ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
    padding: 14px 23px 14px 19px;
}
.talk .list .list01 ul li.y:hover a {border: 2px solid var(--color-main-y);}
.talk .list .list01 ul li.b:hover a {border: 2px solid var(--color-main-b);}
.talk .list .list01 ul li.p:hover a {border: 2px solid var(--color-main-p);}
.talk .list .list01 ul li.g:hover a {border: 2px solid var(--color-main-g);}
.talk .list .list01 ul li a strong {
    display: block;
    font-size: 23px;
    font-weight: var(--txt-bold);
    color: #fff;
    border-radius: 27px;
    width: 97px;
    line-height: 48px;
    text-align: center;
}
.talk .list .list01 ul li.y a strong {background-color: var(--color-main-y);}
.talk .list .list01 ul li.b a strong {background-color: var(--color-main-b);}
.talk .list .list01 ul li.p a strong {background-color: var(--color-main-p);}
.talk .list .list01 ul li.g a strong {background-color: var(--color-main-g);}
.talk .list .list01 ul li a .tit_sub {
    display: flex;
    align-items: center;
}
.talk .list .list01 ul li a h4 {
    font-size: 25px;
    font-weight: var(--txt-bold);
    margin-left: 15px;
}
.talk .list .list01 ul li a span {
    color: #666;
    font-size: 20px;
    display: block;
}
.talk .list .list02 {
    transform: translateY(-50px);
    margin-left: 24px;
}
.talk .list .list02 .talk_search .search-box {
    height: 302px;
    background-color: var(--color-main-p);
    border-radius: 20px;
    padding: 73px 39px 0 39px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
    color: #fff;
}
.talk .list .list02 .talk_search .search-box h4 {
    font-size: 33px;
    font-family: var(--tit-fontfamily);
    margin: 5px 0 37px 0;
}
.talk .list .list02 .talk_search .search-box .search-txt {
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    float: left;
    padding: 0 30px;
    color: #666;
    font-size: 20px;
    line-height: 76px;
    width: 100%;
}
.talk .list .list02 .talk_search .search-box .search-btn {
    position: relative;
    font-size: 0;
    line-height: 0;
}
.talk .list .list02 .talk_search .search-box .search-btn::before {
    position: absolute;
    top: 6px;
    right: 22px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_878' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_878)'%3E%3Cpath d='M13.3791 26.7581C9.63979 26.7581 6.47513 25.4631 3.88508 22.8731C1.29503 20.283 0 17.1184 0 13.3791C0 9.63979 1.29503 6.47513 3.88508 3.88508C6.47513 1.29503 9.63979 0 13.3791 0C17.1184 0 20.283 1.29503 22.8731 3.88508C25.4631 6.47513 26.7581 9.63979 26.7581 13.3791C26.7581 14.8885 26.518 16.3122 26.0377 17.6501C25.5575 18.988 24.9057 20.1715 24.0823 21.2007L29.434 26.5523C29.8113 26.9297 30 27.4099 30 27.9931C30 28.5763 29.8113 29.0566 29.434 29.434C29.0566 29.8113 28.5763 30 27.9931 30C27.4099 30 26.9297 29.8113 26.5523 29.434L21.2007 24.0823C20.1715 24.9057 18.988 25.5575 17.6501 26.0377C16.3122 26.518 14.8885 26.7581 13.3791 26.7581ZM13.3791 22.6415C15.952 22.6415 18.1389 21.741 19.94 19.94C21.741 18.1389 22.6415 15.952 22.6415 13.3791C22.6415 10.8062 21.741 8.61921 19.94 6.81818C18.1389 5.01715 15.952 4.11664 13.3791 4.11664C10.8062 4.11664 8.61921 5.01715 6.81818 6.81818C5.01715 8.61921 4.11664 10.8062 4.11664 13.3791C4.11664 15.952 5.01715 18.1389 6.81818 19.94C8.61921 21.741 10.8062 22.6415 13.3791 22.6415Z' fill='%23CCCCCC'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.talk .list .list02 .talk_put ul {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    text-align: center;
}
.talk .list .list02 .talk_put ul li {
    width: calc(34% - 16px);    
}
.talk .list .list02 .talk_put ul li a {
    display: block;
    height: 190px;
    border-radius: 20px;
    padding: 42px 0 32px 0;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}
.talk .list .list02 .talk_put ul li.b a {background-color: var(--color-main-b);}
.talk .list .list02 .talk_put ul li.g a {background-color: var(--color-main-g);}
.talk .list .list02 .talk_put ul li.y a {background-color: var(--color-main-y);}
.talk .list .list02 .talk_put ul li a h4 {
    color: #fff;
    font-size: 25px;
    font-family: var(--tit-fontfamily);
    line-height: var(--tit-lineheight);
    margin-bottom: 12px;
}
.talk .list .list02 .talk_put ul li a strong {
    background-color: #fff;
    font-size: 23px;
    padding: 6px 22px;
    border-radius: 20px;
}
.talk .list .list02 .talk_put ul li:hover a strong {
    background-color: #3d3d3d;
    color: #fff;
}

.display {
    padding: 170px 0 134px 0;
}
.display .tit .tit_wrap a {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
.display .tit h3 {
    color: var(--tit-txt-color);
    font-size: var(--tit-txt-size);
    font-family: var(--tit-fontfamily);
    line-height: 1;
}
.display .tit span {
    position: relative;
    font-size: 0;
    line-height: 0;
    margin-left: 20px;
}
.display .tit span::before {
    position: absolute;
    top: 0;
    left: -5px;
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_868' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='52' height='52'%3E%3Crect width='52' height='52' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_868)'%3E%3Cpath d='M23.4 28.6V36.4C23.4 37.1367 23.6492 37.7542 24.1475 38.2525C24.6458 38.7508 25.2633 39 26 39C26.7367 39 27.3542 38.7508 27.8525 38.2525C28.3508 37.7542 28.6 37.1367 28.6 36.4V28.6H36.4C37.1367 28.6 37.7542 28.3508 38.2525 27.8525C38.7508 27.3542 39 26.7367 39 26C39 25.2633 38.7508 24.6458 38.2525 24.1475C37.7542 23.6492 37.1367 23.4 36.4 23.4H28.6V15.6C28.6 14.8633 28.3508 14.2458 27.8525 13.7475C27.3542 13.2492 26.7367 13 26 13C25.2633 13 24.6458 13.2492 24.1475 13.7475C23.6492 14.2458 23.4 14.8633 23.4 15.6V23.4H15.6C14.8633 23.4 14.2458 23.6492 13.7475 24.1475C13.2492 24.6458 13 25.2633 13 26C13 26.7367 13.2492 27.3542 13.7475 27.8525C14.2458 28.3508 14.8633 28.6 15.6 28.6H23.4ZM26 52C22.4033 52 19.0233 51.3175 15.86 49.9525C12.6967 48.5875 9.945 46.735 7.605 44.395C5.265 42.055 3.4125 39.3033 2.0475 36.14C0.6825 32.9767 0 29.5967 0 26C0 22.4033 0.6825 19.0233 2.0475 15.86C3.4125 12.6967 5.265 9.945 7.605 7.605C9.945 5.265 12.6967 3.4125 15.86 2.0475C19.0233 0.6825 22.4033 0 26 0C29.5967 0 32.9767 0.6825 36.14 2.0475C39.3033 3.4125 42.055 5.265 44.395 7.605C46.735 9.945 48.5875 12.6967 49.9525 15.86C51.3175 19.0233 52 22.4033 52 26C52 29.5967 51.3175 32.9767 49.9525 36.14C48.5875 39.3033 46.735 42.055 44.395 44.395C42.055 46.735 39.3033 48.5875 36.14 49.9525C32.9767 51.3175 29.5967 52 26 52Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.display .swiper ul li {
    width: 297px;
}
.display .swiper ul li .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border: 1px solid #aaa;
    border-radius: 20px;
}
.display .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.display .swiper ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 45px;
    border: 1px solid #aaa;
    border-radius: 25px;
    margin-top: 10px;
}
.display .swiper ul li a:hover {
    background-color: #aaa;
}
.display .swiper ul li a strong {
    color: var(--tit-txt-color);
    font-size: 20px;
    font-weight: var(--txt-bold);
    margin-left: 23px;
}
.display .swiper ul li a:hover strong {
    color: #fff;
}
.display .swiper ul li a span {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.display .swiper ul li a span::before {
    position: absolute;
    top: -11px;
    right: 12px;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_9707' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_9707)'%3E%3Cpath d='M14.5337 11.4385L5.76103 2.90642C5.46264 2.61622 5.31842 2.2728 5.32836 1.87619C5.33831 1.47957 5.49248 1.13616 5.79087 0.845955C6.08926 0.555748 6.44236 0.410645 6.85016 0.410645C7.25796 0.410645 7.61106 0.555748 7.90945 0.845955L17.0701 9.78432C17.3088 10.0165 17.4878 10.2777 17.6072 10.5679C17.7265 10.8581 17.7862 11.1483 17.7862 11.4385C17.7862 11.7287 17.7265 12.0189 17.6072 12.3091C17.4878 12.5993 17.3088 12.8605 17.0701 13.0927L7.87961 22.031C7.58122 22.3212 7.2331 22.4615 6.83524 22.4518C6.43738 22.4422 6.08926 22.2922 5.79087 22.002C5.49248 21.7118 5.34328 21.3684 5.34328 20.9718C5.34328 20.5752 5.49248 20.2318 5.79087 19.9416L14.5337 11.4385Z' fill='%23F6D10F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.display .swiper ul li a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_11687' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_11687)'%3E%3Cpath d='M14.5337 11.4385L5.76103 2.90642C5.46264 2.61622 5.31842 2.2728 5.32836 1.87619C5.33831 1.47957 5.49248 1.13616 5.79087 0.845955C6.08926 0.555748 6.44236 0.410645 6.85016 0.410645C7.25796 0.410645 7.61106 0.555748 7.90945 0.845955L17.0701 9.78432C17.3088 10.0165 17.4878 10.2777 17.6072 10.5679C17.7265 10.8581 17.7862 11.1483 17.7862 11.4385C17.7862 11.7287 17.7265 12.0189 17.6072 12.3091C17.4878 12.5993 17.3088 12.8605 17.0701 13.0927L7.87961 22.031C7.58122 22.3212 7.2331 22.4615 6.83524 22.4518C6.43738 22.4422 6.08926 22.2922 5.79087 22.002C5.49248 21.7118 5.34328 21.3684 5.34328 20.9718C5.34328 20.5752 5.49248 20.2318 5.79087 19.9416L14.5337 11.4385Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.youtube {
    padding: 150px 0 115px 0;
    background-color: var(--color-main-y);
    color: #fff;
}
.youtube .tit {
    float: left;
}
.youtube .tit h3 {
    font-size: var(--tit-txt-size);
    font-family: var(--tit-fontfamily);
    line-height: 1;
}
.youtube .list {
    margin-left: 321px;
}
.youtube .list ul li {
    width: 297px;
}
.youtube .tit_top a span.more {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.youtube .tit_top a span.more::before {
    position: absolute;
    top: 85px;
    left: 0;
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_868' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='52' height='52'%3E%3Crect width='52' height='52' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_868)'%3E%3Cpath d='M23.4 28.6V36.4C23.4 37.1367 23.6492 37.7542 24.1475 38.2525C24.6458 38.7508 25.2633 39 26 39C26.7367 39 27.3542 38.7508 27.8525 38.2525C28.3508 37.7542 28.6 37.1367 28.6 36.4V28.6H36.4C37.1367 28.6 37.7542 28.3508 38.2525 27.8525C38.7508 27.3542 39 26.7367 39 26C39 25.2633 38.7508 24.6458 38.2525 24.1475C37.7542 23.6492 37.1367 23.4 36.4 23.4H28.6V15.6C28.6 14.8633 28.3508 14.2458 27.8525 13.7475C27.3542 13.2492 26.7367 13 26 13C25.2633 13 24.6458 13.2492 24.1475 13.7475C23.6492 14.2458 23.4 14.8633 23.4 15.6V23.4H15.6C14.8633 23.4 14.2458 23.6492 13.7475 24.1475C13.2492 24.6458 13 25.2633 13 26C13 26.7367 13.2492 27.3542 13.7475 27.8525C14.2458 28.3508 14.8633 28.6 15.6 28.6H23.4ZM26 52C22.4033 52 19.0233 51.3175 15.86 49.9525C12.6967 48.5875 9.945 46.735 7.605 44.395C5.265 42.055 3.4125 39.3033 2.0475 36.14C0.6825 32.9767 0 29.5967 0 26C0 22.4033 0.6825 19.0233 2.0475 15.86C3.4125 12.6967 5.265 9.945 7.605 7.605C9.945 5.265 12.6967 3.4125 15.86 2.0475C19.0233 0.6825 22.4033 0 26 0C29.5967 0 32.9767 0.6825 36.14 2.0475C39.3033 3.4125 42.055 5.265 44.395 7.605C46.735 9.945 48.5875 12.6967 49.9525 15.86C51.3175 19.0233 52 22.4033 52 26C52 29.5967 51.3175 32.9767 49.9525 36.14C48.5875 39.3033 46.735 42.055 44.395 44.395C42.055 46.735 39.3033 48.5875 36.14 49.9525C32.9767 51.3175 29.5967 52 26 52Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.youtube .tit_sub {
    margin-top: -15px;
}
.youtube .tit_sub span {
    font-weight: var(--txt-bold);
    font-size: 20px;
    display: inline-block;
}
.youtube .tit_sub span.youtube_logo {
    width: 2.25em;
    height: 1.69em;
    position: relative;
}
.youtube .tit_sub span.youtube_logo::before {
    position: absolute;
    top: 0;
    width: 87%;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background: url(../images/main/youtube_logo.svg) no-repeat center center / contain;
}
.youtube .swiper ul li {
    width: 297px;
}
.youtube .swiper ul li .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #E2AE25;
}
.youtube .swiper ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.youtube .swiper ul li:hover .photo img {
    transform: scale3d(1.2, 1.2, 1)
}
.youtube .list ul li a p {
    font-size: 20px;
    font-weight: var(--txt-bold);
    line-height: var(--tit-lineheight);
    height: 2.6em;
    overflow: hidden;
    text-shadow: 0 0 3px #937B00;
    margin-top: 18px;
}
.youtube .list ul li:hover a p {
    color: var(--tit-txt-color);
    text-shadow: none;
}
.youtube .btn_wrap button {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.youtube .btn_wrap button::before {
    position: absolute;
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.youtube .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_753' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='52' height='52'%3E%3Crect width='52' height='52' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_753)'%3E%3Cpath d='M25.48 28.6H33.8C34.5367 28.6 35.1542 28.3508 35.6525 27.8525C36.1508 27.3542 36.4 26.7367 36.4 26C36.4 25.2633 36.1508 24.6458 35.6525 24.1475C35.1542 23.6492 34.5367 23.4 33.8 23.4H25.48L27.82 21.06C28.2967 20.5833 28.535 19.9767 28.535 19.24C28.535 18.5033 28.2967 17.8967 27.82 17.42C27.3433 16.9433 26.7367 16.705 26 16.705C25.2633 16.705 24.6567 16.9433 24.18 17.42L17.42 24.18C16.9 24.7 16.64 25.3067 16.64 26C16.64 26.6933 16.9 27.3 17.42 27.82L24.18 34.58C24.6567 35.0567 25.2633 35.295 26 35.295C26.7367 35.295 27.3433 35.0567 27.82 34.58C28.2967 34.1033 28.535 33.4967 28.535 32.76C28.535 32.0233 28.2967 31.4167 27.82 30.94L25.48 28.6ZM26 52C22.4033 52 19.0233 51.3175 15.86 49.9525C12.6967 48.5875 9.945 46.735 7.605 44.395C5.265 42.055 3.4125 39.3033 2.0475 36.14C0.6825 32.9767 0 29.5967 0 26C0 22.4033 0.6825 19.0233 2.0475 15.86C3.4125 12.6967 5.265 9.945 7.605 7.605C9.945 5.265 12.6967 3.4125 15.86 2.0475C19.0233 0.6825 22.4033 0 26 0C29.5967 0 32.9767 0.6825 36.14 2.0475C39.3033 3.4125 42.055 5.265 44.395 7.605C46.735 9.945 48.5875 12.6967 49.9525 15.86C51.3175 19.0233 52 22.4033 52 26C52 29.5967 51.3175 32.9767 49.9525 36.14C48.5875 39.3033 46.735 42.055 44.395 44.395C42.055 46.735 39.3033 48.5875 36.14 49.9525C32.9767 51.3175 29.5967 52 26 52Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    top: -100px;
    left: 135px;
}
.youtube .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_756' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='52' height='52'%3E%3Crect x='52' y='52' width='52' height='52' transform='rotate(-180 52 52)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_756)'%3E%3Cpath d='M26.52 23.4L18.2 23.4C17.4633 23.4 16.8458 23.6492 16.3475 24.1475C15.8492 24.6458 15.6 25.2633 15.6 26C15.6 26.7367 15.8492 27.3542 16.3475 27.8525C16.8458 28.3508 17.4633 28.6 18.2 28.6L26.52 28.6L24.18 30.94C23.7033 31.4167 23.465 32.0233 23.465 32.76C23.465 33.4967 23.7033 34.1033 24.18 34.58C24.6567 35.0567 25.2633 35.295 26 35.295C26.7367 35.295 27.3433 35.0567 27.82 34.58L34.58 27.82C35.1 27.3 35.36 26.6933 35.36 26C35.36 25.3067 35.1 24.7 34.58 24.18L27.82 17.42C27.3433 16.9433 26.7367 16.705 26 16.705C25.2633 16.705 24.6567 16.9433 24.18 17.42C23.7033 17.8967 23.465 18.5033 23.465 19.24C23.465 19.9767 23.7033 20.5833 24.18 21.06L26.52 23.4ZM26 -2.27299e-06C29.5967 -1.95856e-06 32.9767 0.682501 36.14 2.0475C39.3033 3.4125 42.055 5.265 44.395 7.605C46.735 9.945 48.5875 12.6967 49.9525 15.86C51.3175 19.0233 52 22.4033 52 26C52 29.5967 51.3175 32.9767 49.9525 36.14C48.5875 39.3033 46.735 42.055 44.395 44.395C42.055 46.735 39.3033 48.5875 36.14 49.9525C32.9767 51.3175 29.5967 52 26 52C22.4033 52 19.0233 51.3175 15.86 49.9525C12.6967 48.5875 9.945 46.735 7.605 44.395C5.265 42.055 3.4125 39.3033 2.04751 36.14C0.682504 32.9767 1.95856e-06 29.5967 2.27299e-06 26C2.58742e-06 22.4033 0.682506 19.0233 2.04751 15.86C3.41251 12.6967 5.265 9.945 7.605 7.605C9.945 5.265 12.6967 3.4125 15.86 2.0475C19.0233 0.6825 22.4033 -2.58742e-06 26 -2.27299e-06Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    top: -100px;
    left: 190px;
}

.notice {
    background: url(../images/main/notice_bg1920.png) no-repeat center center / cover;
    padding: 148px 0 122px 0;
}
.notice .tit .tit_wrap a {
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
.notice .tit h3 {
    color: var(--tit-txt-color);
    font-size: var(--tit-txt-size);
    font-family: var(--tit-fontfamily);
    line-height: 1;
    margin-right: 20px;
}
.notice .tit span {
    position: relative;
    font-size: 0;
    line-height: 0;
}
.notice .tit span::before {
    position: absolute;
    top: 0;
    left: -5px;
    width: 51px;
    height: 51px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_42_868' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='52' height='52'%3E%3Crect width='52' height='52' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_42_868)'%3E%3Cpath d='M23.4 28.6V36.4C23.4 37.1367 23.6492 37.7542 24.1475 38.2525C24.6458 38.7508 25.2633 39 26 39C26.7367 39 27.3542 38.7508 27.8525 38.2525C28.3508 37.7542 28.6 37.1367 28.6 36.4V28.6H36.4C37.1367 28.6 37.7542 28.3508 38.2525 27.8525C38.7508 27.3542 39 26.7367 39 26C39 25.2633 38.7508 24.6458 38.2525 24.1475C37.7542 23.6492 37.1367 23.4 36.4 23.4H28.6V15.6C28.6 14.8633 28.3508 14.2458 27.8525 13.7475C27.3542 13.2492 26.7367 13 26 13C25.2633 13 24.6458 13.2492 24.1475 13.7475C23.6492 14.2458 23.4 14.8633 23.4 15.6V23.4H15.6C14.8633 23.4 14.2458 23.6492 13.7475 24.1475C13.2492 24.6458 13 25.2633 13 26C13 26.7367 13.2492 27.3542 13.7475 27.8525C14.2458 28.3508 14.8633 28.6 15.6 28.6H23.4ZM26 52C22.4033 52 19.0233 51.3175 15.86 49.9525C12.6967 48.5875 9.945 46.735 7.605 44.395C5.265 42.055 3.4125 39.3033 2.0475 36.14C0.6825 32.9767 0 29.5967 0 26C0 22.4033 0.6825 19.0233 2.0475 15.86C3.4125 12.6967 5.265 9.945 7.605 7.605C9.945 5.265 12.6967 3.4125 15.86 2.0475C19.0233 0.6825 22.4033 0 26 0C29.5967 0 32.9767 0.6825 36.14 2.0475C39.3033 3.4125 42.055 5.265 44.395 7.605C46.735 9.945 48.5875 12.6967 49.9525 15.86C51.3175 19.0233 52 22.4033 52 26C52 29.5967 51.3175 32.9767 49.9525 36.14C48.5875 39.3033 46.735 42.055 44.395 44.395C42.055 46.735 39.3033 48.5875 36.14 49.9525C32.9767 51.3175 29.5967 52 26 52Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.notice .list ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.notice .list ul li {
    width: calc(34% - 16px);
}
.notice .list ul li a {
    display: block;
    height: 157px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 29px 30px 0 20px;
}
.notice .list ul li:hover a {
    border: 2px solid var(--color-main-y);
}
.notice .list ul li a .list_tit {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.notice .list ul li a .list_tit strong {
    display: block;
    color: #fff;
    background-color: var(--color-main-y);
    font-size: 18px;
    font-weight: var(--txt-bold);
    text-align: center;
    line-height: 35px;
    width: 70px;
    border-radius: 20px;
    margin-right: 10px;
}
.notice .list ul li a .list_tit p {
    color: var(--tit-txt-color);
    font-weight: var(--txt-bold);
    font-size: 20px;
    width: 270px;
    line-height: var(--tit-lineheight);
    height: 2.6em;
    overflow: hidden;
}
.notice .list ul li a .date {
    color: #666;
    text-align: right;
    margin-top: 30px;
}
.notice .banner ul {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.notice .banner ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.notice .banner ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.notice .banner ul li.b::before {background-image: url("data:image/svg+xml,%3Csvg width='130' height='140' viewBox='0 0 130 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M115 42.2592V97.387C114.963 97.4755 114.911 97.5582 114.89 97.6505C114.056 101.11 111.665 103 108.109 103C88.0433 103 67.9779 103 47.9125 103C43.7476 102.998 41 100.254 41 96.0948C41 76.9754 41 57.8559 41 38.7365C41 38.4826 41 38.2307 41 38H106.361V42.2592H115.002H115ZM45.3367 42.2938V43.1226C45.3367 60.7537 45.3367 78.3849 45.3367 96.016C45.3367 97.8966 46.1226 98.6812 48.0051 98.6812C65.8289 98.6812 83.6545 98.6812 101.478 98.6812H102.112C102.071 96.7159 101.998 94.8065 101.998 92.897C101.988 76.3216 101.992 59.7461 101.992 43.1707V42.2938H45.3367ZM106.329 46.6089V47.4472C106.329 63.6323 106.329 79.8174 106.329 96.0025C106.329 96.1948 106.323 96.3871 106.332 96.5775C106.392 97.7005 107.242 98.5869 108.335 98.6735C109.387 98.7561 110.372 98.0312 110.607 96.9659C110.673 96.6659 110.663 96.3467 110.663 96.0372C110.665 79.8271 110.665 63.6189 110.665 47.4088V46.6069H106.329V46.6089Z' fill='white'/%3E%3Cpath d='M49.5594 85.6767V72.8105H97.5972V85.6767H49.5594ZM93.2875 77.1429H53.9232V81.3732H93.2875V77.1429Z' fill='white'/%3E%3Cpath d='M49.5769 46.751H75.7187V68.426H49.5769V46.751ZM53.8904 64.0802H71.382V51.0814H53.8904V64.0802Z' fill='white'/%3E%3Cpath d='M97.6243 90.0952V94.3256H49.5865V90.0952H97.6243Z' fill='white'/%3E%3Cpath d='M97.6435 46.7646V50.9816H80.1538V46.7646H97.6435Z' fill='white'/%3E%3Cpath d='M97.6262 55.3813V59.6348H80.1404V55.3813H97.6262Z' fill='white'/%3E%3Cpath d='M80.1345 68.4071V64.1709H97.601V68.4071H80.1345Z' fill='white'/%3E%3C/svg%3E%0A");}
.notice .banner ul li.g::before {background-image: url("data:image/svg+xml,%3Csvg width='130' height='140' viewBox='0 0 130 140' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M120.985 107H42C42 90.1212 42 76.2424 42 59.3637C42.2145 59.2267 42.4405 59.1053 42.6434 58.9527C46.8766 55.7761 51.1002 52.5859 55.347 49.429C55.8571 49.0493 56.0812 48.6735 56.0541 48.0237C56 46.7633 56.0387 45.497 56.0387 44.2053C57.9302 44.2053 59.7039 44.2346 61.4737 44.1857C61.922 44.1739 62.434 44.0115 62.7972 43.7453C68.7751 39.3691 74.7338 34.9673 80.6982 30.5715C80.9648 30.3758 81.2353 30.1879 81.4981 30C81.757 30.184 81.9695 30.3288 82.1762 30.4815C88.1155 34.8656 94.0606 39.2438 99.9864 43.6475C100.537 44.0565 101.074 44.2327 101.75 44.217C103.462 44.1759 105.176 44.2033 106.946 44.2033C106.946 45.542 106.975 46.7868 106.934 48.0316C106.915 48.6324 107.089 49.016 107.585 49.3859C111.832 52.5429 116.05 55.7409 120.297 58.9018C120.803 59.2776 121.002 59.6553 121.002 60.3051C120.981 76.8707 120.986 90.4344 120.986 107H120.985ZM116.297 102.273V65.3409C108.182 71.4787 100.156 77.5498 92.0532 83.6817C98.2436 87.8662 102.37 90.0056 108.542 94.1764C107.676 95.4916 106.841 96.7618 105.985 98.0614C105.69 97.8676 105.452 97.7169 105.218 97.5604C99.0607 93.4033 94.8992 91.2521 88.7551 87.0755C88.2662 86.7428 87.961 86.7486 87.4953 87.1127C85.7062 88.514 83.8668 89.8469 82.0777 91.2502C81.6179 91.6122 81.328 91.575 80.8914 91.2345C79.139 89.8703 77.3402 88.5688 75.5955 87.1929C75.07 86.778 74.728 86.7349 74.1464 87.1303C68.0274 91.2991 63.8853 93.4307 57.7469 97.5721C57.517 97.7267 57.2813 97.8735 56.9973 98.0555C56.1356 96.7462 55.3028 95.4779 54.445 94.1764C60.6277 89.9978 64.7467 87.8623 70.9333 83.6817C62.8049 77.5342 54.7732 71.4571 46.666 65.3253V102.273H116.297ZM81.4691 85.8013C81.6121 85.7094 81.7009 85.6585 81.7821 85.5978C88.4942 80.5189 95.2102 75.4439 101.905 70.3415C102.146 70.1576 102.301 69.6976 102.303 69.3669C102.326 62.8044 102.32 56.24 102.318 49.6776C102.318 49.429 102.297 49.1785 102.286 48.9338H60.697C60.6854 49.0904 60.668 49.2157 60.668 49.3409C60.668 56.0873 60.6622 62.8318 60.6854 69.5782C60.6854 69.8503 60.896 70.2065 61.1182 70.3807C62.7663 71.6685 64.4414 72.9211 66.1088 74.1835C71.2135 78.047 76.32 81.9105 81.4691 85.8053V85.8013ZM70.1102 44.1387H92.8337C88.9695 41.2851 85.2406 38.5294 81.4884 35.758C77.715 38.5372 73.9802 41.2891 70.1102 44.1387ZM48.1827 60.6143C50.822 62.6106 53.3705 64.5385 55.9923 66.5211V54.776C53.3608 56.745 50.8162 58.6454 48.1827 60.6163V60.6143ZM114.798 60.6182C112.135 58.6239 109.595 56.7195 107 54.7741V66.5172C109.628 64.5306 112.164 62.6106 114.798 60.6182Z' fill='white'/%3E%3Cpath d='M69.9595 59.906V55.3086H93.0018V59.906H69.9595Z' fill='white'/%3E%3Cpath d='M93.0269 64.7012V69.2947H69.9846V64.7012H93.0269Z' fill='white'/%3E%3C/svg%3E%0A");}
.notice .banner ul li.b  {
    background-color: var(--color-main-b);
    border-radius: 20px 0 0 20px;
}
.notice .banner ul li.g  {
    background-color: var(--color-main-g);
    border-radius: 0 20px 20px 0;
}
.notice .banner ul li .banner_tit {
    color: #fff;
    margin: 6% 0 6% 23%;
}
.notice .banner ul li .banner_tit h4 {
    font-size: 30px;
    font-weight: var(--txt-bold);
}
.notice .banner ul li .more span {
    font-size: 25px;
    font-weight: var(--txt-bold);
    color: var(--tit-txt-color);
    padding: 20px 30px;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 40px;
    margin-right: 40px;
}
.notice .banner ul li .more:hover span {
    color: #fff;
    background-color: #3d3d3d;
}