@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    height: 900px;
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    padding-top: 220px;
}
.visual h2 {
    font-size: 70px;
    font-family: var(--tit-fontfamily);
    text-align: center;
    line-height: var(--tit-lineheight);
    text-shadow: 0 0 4px #81CEEA;
}
.book {
    background: url(../images/main/book_bg.png) no-repeat center center / cover;
    padding: 210px 0;
}
.book h3 {
    color: var(--tit-txt-color);
    font-size: var(--tit-txt-size);
    font-family: var(--tit-fontfamily);
    text-align: center;
}
.book .tabs > ul {
    margin: 20px 0 84px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.book .tabs > ul > li {
    text-align: center;
    width: 120px;
}
.book .tabs > ul > li > a {
    width: 100%;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    border-radius: 28px;
    background-color: #E8E8E8;
}
.book .tabs > ul > li > a.active {background-color: var(--color-main-g);}
.book .tabs .tab > ul {
    float: left;
}
.book .tabs .tab > ul > li > a {
    display: block;
    font-size: 28px;
    font-family: var(--tit-fontfamily);
    color: #aaa;
    padding: 17px 122px 17px 25px;
}
.book .tabs .tab > ul > li > a.active {
    color: #fff;
    background-color: var(--color-main-y);
    border-radius: 40px;
    position: relative;
}
.book .tabs .tab > ul > li > a.active::after {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_9689' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_9689)'%3E%3Cpath d='M17.1 20.9V26.6C17.1 27.1383 17.2821 27.5896 17.6462 27.9538C18.0104 28.3179 18.4617 28.5 19 28.5C19.5383 28.5 19.9896 28.3179 20.3538 27.9538C20.7179 27.5896 20.9 27.1383 20.9 26.6V20.9H26.6C27.1383 20.9 27.5896 20.7179 27.9538 20.3538C28.3179 19.9896 28.5 19.5383 28.5 19C28.5 18.4617 28.3179 18.0104 27.9538 17.6462C27.5896 17.2821 27.1383 17.1 26.6 17.1H20.9V11.4C20.9 10.8617 20.7179 10.4104 20.3538 10.0462C19.9896 9.68208 19.5383 9.5 19 9.5C18.4617 9.5 18.0104 9.68208 17.6462 10.0462C17.2821 10.4104 17.1 10.8617 17.1 11.4V17.1H11.4C10.8617 17.1 10.4104 17.2821 10.0462 17.6462C9.68208 18.0104 9.5 18.4617 9.5 19C9.5 19.5383 9.68208 19.9896 10.0462 20.3538C10.4104 20.7179 10.8617 20.9 11.4 20.9H17.1ZM19 38C16.3717 38 13.9017 37.5012 11.59 36.5037C9.27833 35.5062 7.2675 34.1525 5.5575 32.4425C3.8475 30.7325 2.49375 28.7217 1.49625 26.41C0.49875 24.0983 0 21.6283 0 19C0 16.3717 0.49875 13.9017 1.49625 11.59C2.49375 9.27833 3.8475 7.2675 5.5575 5.5575C7.2675 3.8475 9.27833 2.49375 11.59 1.49625C13.9017 0.49875 16.3717 0 19 0C21.6283 0 24.0983 0.49875 26.41 1.49625C28.7217 2.49375 30.7325 3.8475 32.4425 5.5575C34.1525 7.2675 35.5062 9.27833 36.5037 11.59C37.5012 13.9017 38 16.3717 38 19C38 21.6283 37.5012 24.0983 36.5037 26.41C35.5062 28.7217 34.1525 30.7325 32.4425 32.4425C30.7325 34.1525 28.7217 35.5062 26.41 36.5037C24.0983 37.5012 21.6283 38 19 38Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.book .tabs .tab .sub_tab {
    margin: 0 0 0 321px;
    width: 1260px;
    display: none;
}
.book .tabs .tab.active, .sub_tab.active {
    display: block;
} 
.book .tabs .tab .sub_tab ul li {
    width: 297px;
    border: 1px solid #aaa;
    border-radius: 20px;
    overflow: hidden;
}
.book .tabs .tab .sub_tab ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단 여백 삭제 */
    line-height: 0;
    height: 290px;
    width: 297px;
}
.book .tabs .tab .sub_tab ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.book .tabs .tab .sub_tab ul li a .tit_wrap {
    text-align: center;
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #aaa;
}
.book .tabs .tab .sub_tab ul li a .tit h4 {
    color: var(--tit-txt-color);
    font-size: 25px;
    font-weight: var(--txt-bold);
    line-height: var(--tit-lineheight);
    height: 1.3em;
    overflow: hidden;
}
.book .tabs .tab .sub_tab ul li a .tit strong {
    color: #666;
    font-weight: var(--txt-bold);
}
.book .tabs .tab .sub_tab ul li a .tit span {
    color: var(--color-main-y);
    font-weight: var(--txt-bold);
}
.book .tabs .tab #sub_tab102 ul li a .tit h4 {
    font-size: 20px;
}